
// to make container fill width 
.container {
    padding-bottom: 100vh;
}

.gridContainer {
    padding-top: 3vh;
}


.title {
    margin-top: 200px;
}



.black {
    background-color: black;

}

.pink {
    background-color: pink;
}

.blue {
    background-color: aquamarine;
}

.white {
    background-color: white;
}