
// to make container fill width 
.container {
    flex-grow: 1;
    padding-bottom: 100vh;
}

.gridContainer {
    padding-top: 3vh;
}


.title {
    padding-left: 10%;
}



.black {
    background-color: black;

}

.pink {
    background-color: pink;
}

.blue {
    background-color: aquamarine;
}

.white {
    background-color: white;
}